/* CSS test file for demo purposes */

body {
    font-family: "Arial", sans-serif;
    color: red;
    background-color: bisque;
}

h1 {
    color: blue;
}

img {
    width: 200px;
    border: 1px #00FFFF;

}

